<h1>Editing Confession</h1>

<%= render 'form', confession: @confession %>

<%= link_to 'Show', @confession, class: "button is-link" %>
<%= link_to 'Back', confessions_path, class: "button is-danger" %>
