<% if notice%>
<div class="notification is-success">
  <button class="delete"></button>
  <%= notice %>
</div>
<% end%>

<%= render @confession %>
<%= link_to 'Back', confessions_path, class: "button is-link" %>
