<% if notice%>
<div class="notification is-success">
  <button class="delete"></button>
  <p class="notice"><%= notice %></p>
</div>
<% end%>

<% if alert%>

<div class="notification is-success">
  <button class="delete"></button>
  <p class="alert"><%= alert %></p>
</div>

<% end%>
