<header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
          <h1><%= link_to("Confess", confessions_path, :class => "has-text-dark title is-1") %></h1>
      </div>
      <div class="level-right">
        <p class="level-item small-padding">
          <% if  current_user %>
            <%= link_to("Sign Out", destroy_user_session_path, :method => :delete, :class => "button small-margin-sides is-primary ") %>
          <% else %>
            <%= link_to("Sign Up", new_user_registration_path, :class => "button small-margin-sides is-primary") %>
            <%= link_to("Sign In", new_user_session_path, :class => "button small-margin-sides is-info ") %>
          <% end %>
        </p>
      </div>
    </nav>
  </div>
</header>
